= form_tag do
  - @hash.each do |story|

    = fields_for 'stories_hash[]', story do |p|
      .field
        = p.label :name
        %br/
        = p.text_field :name
      .field
        = p.label :rank
        %br/
        = p.number_field :rank
      .field
        = p.label :points
        %br/
        = p.number_field :points
      .field
        = p.label :title
        %br/
        = p.text_field :title
      .field
        = p.label :notes
        %br/
        = p.text_field :notes
  .actions
    = submit_tag
