%h1 The Story
%p
%table{:class =>  "backlog_table"}
  %th{:class => "backlog_table_head"}

    %b ID:
    = @story.id
  %th
    %b Name:
    = @story.name
  %th
    %b Priority:
    = @story.rank
  %th
    %b Mark:
    = @story.points
  %th
    %b Way of demonstration:
    = @story.title
  %th
    %b Notes:
    = @story.notes
%p
%p
- if can? :update, @story
  = link_to 'Edit', edit_story_path(@story)
- if can? :destroy, @story
  = link_to 'Destroy', @story, :method => :delete
- if can? :share, @story
  = link_to 'Split', split_story_path(@story)
\|
= link_to 'Back', stories_path
