
%p
  %b Name:
  = @role.name
%p
  %b Description:
  = @role.description
%p
  %strong Assosciated users:
  = @assosciated_users
= link_to 'Edit', edit_role_path(@role)
\|
= link_to 'Back', roles_path
