<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="header">
      <%= image_tag("header.png", width: '100%') %>
    </div>	
	
    <div class = "current_user">
      <% if user_signed_in? %>	    
      	<p><font size="4" face="Arial" color=#A9E2F3>Signed in as
      	<%=current_user.name %></font>
	<%= link_to image_tag("exit.png"), destroy_user_session_path, :method => :delete %>
	</p>
      <% else %>
	<%= link_to image_tag("signin.png"), new_user_session_path %>	
      <% end %>	
    </div>		

    <div class="content"> 

      <div class="menu">

        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
      </div>	

      <div class="info">
      	<%= yield %>
      </div>
    </div>

    <div class="footer">
      <%= image_tag("footer.png", width: '100%') %>
    </div>
	
 
</body>
</html>
